* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            135deg,
            #050b16,
            #101d35
        );

    font-family: Arial, sans-serif;

    color: white;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.safe {
    background: #111827;

    border: 1px solid #26354d;

    border-radius: 20px;

    padding: 35px 25px;

    text-align: center;

    box-shadow:
        0 20px 50px
        rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.subtitle {
    color: #9ca3af;
    font-size: 14px;
    margin-bottom: 25px;
}

.lock {
    font-size: 70px;
    margin: 20px 0;
}

.status {
    font-weight: bold;
    letter-spacing: 3px;

    margin-bottom: 25px;

    color: #ef4444;
}

input {
    width: 100%;

    padding: 15px;

    border-radius: 10px;

    border: 1px solid #374151;

    background: #0b1220;

    color: white;

    text-align: center;

    font-size: 25px;

    letter-spacing: 10px;

    outline: none;

    margin-bottom: 15px;
}

input:focus {
    border-color: #60a5fa;
}

button {
    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    font-weight: bold;

    cursor: pointer;

    font-size: 15px;
}

button:hover {
    background: #1d4ed8;
}

#pesan {
    margin-top: 18px;

    min-height: 20px;

    color: #d1d5db;

    font-size: 14px;
}
